@model SnapshotInfoViewModel

@{
    ViewData["Title"] = "Your Portfolio Snapshots";
}

<div>
    @await Html.PartialAsync("AddSnapshotPartial", new SnapshotInfo())
</div>

<div class="panel panel-default todo-panel">
    <div class="panel-heading">
        @ViewData["Title"]
    </div>
    
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Date</td>
            <td>Net Worth</td>
            <td>Day Gain</td>
            <td>Day Gain %</td>
            <td>Total Gain</td>
            <td>Total Gain %</td>
        </tr>
        </thead>
        
        @foreach (var item in Model.Snapshots)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.NetWorth</td>
                <td>$@item.DayGainChange</td>
                <td>@item.DayGainPercent</td>
                <td>$@item.TotalGain</td>
                <td>@item.TotalGainPercent</td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                    <a asp-action="Details" asp-route-id="@item.SnapshotId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SnapshotId">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>